[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xmonad
Comment=xmonad
Exec=xmonad
Icon=xmonad
Terminal=false
StartupNotify=false
Categories=Application;
